@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-ww-bg text-gray-800 font-body;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.12);
  border-radius: 999px;
}
